<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ site.site_title | escape }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="apple-mobile-web-app-title" content="{{ site.site_title | escape }}">
        <meta name="application-name" content="{{ site.site_title | escape }}">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:title" content="{{ site.share_title | escape }}" />
        <meta property="og:image" content="https://schwind.us/img/j_stockton_20150729_8922.jpg" />

        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Montserrat|Philosopher" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css" data-skrollr-stylesheet>

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    </head>
    <body>

        {% assign sorted_items = site.front_page | where: "draft","false" | where: "lang",site.lang | sort: 'position' %}

        <header>
            <nav id="main-navigation">
                <div class="pure-menu pure-menu-horizontal">
                    <a href="#" class="pure-menu-heading pure-menu-link">Jen &amp; Jake</a>
                    <ul class="pure-menu-list site-menu">

                        {% for post in sorted_items %}
                        
                        <li class="pure-menu-item">
                            <a href="#{{ post.target }}" class="pure-menu-link">
                            {% if post.menu %}
                                {{ post.menu }}
                            {% else %}
                                {{ post.heading }}
                            {% endif %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>

        <div id="skrollr-body">

        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {% for post in sorted_items %}
            {% if post.single %}

            <section class="page-section-single {{ post.classes }}" id="{{ post.target }}">
                <article>
                    {{ post.content }}
                </article>
            </section>

            {% else %}
            <section class="page-section-giant" id="{{ post.target }}">
                <h1>{{ post.heading }}</h1>
                <div class="background-holder" style="background-image: url('{{ post.background }}');"></div>
            </section>

            <section class="page-section {{ post.classes }}">
                <article>
                    {{ post.content }}
                </article>
            </section>
            {% endif %}

        {% endfor %}

        <footer id="main-footer">
            <p>Jen and Jake 2018</p>
        </footer>

        <!-- Scripts -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="https://cdn.jsdelivr.net/npm/skrollr-stylesheets@1.0.0/dist/skrollr.stylesheets.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/bundle.js"></script>
        <script type="text/javascript">
            var s = skrollr.init({smoothScrolling: false, forceHeight: false, mobileCheck: () => false });
        </script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    </div>
    </body>
</html>
